@tailwind components;
@tailwind utilities;
@layer tailwind {
    @tailwind base;
}
@layer mantine, mantine-datatable;


:root[data-mantine-color-scheme="dark"] {
  --mantine-color-body: #1a1a1a !important;
  --mantine-color-text: var(--mantine-color-white) !important;
  --supabase-green: #3ecf8e;
}

body {
  color: var(--foreground);
  background: var(--background);
}

br {
  margin: 1px 0;
  line-height: 1px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h1 {
  font-size: 2rem;
  font-weight: 700;
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
}

h3 {
  font-size: 1.25rem;
  font-weight: 600;
}

h4 {
  font-size: 1rem;
  font-weight: 600;
}

h5 {
  font-size: 0.875rem;
  font-weight: 600;
}

h6 {
  font-size: 0.75rem;
  font-weight: 600;
}

.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.arial-black {
  font-family: Arial Black, Arial Bold, Gadget, sans-serif;
}

.markdown {
  table {
    border-collapse: collapse;
  }

  th,
  td {
    padding: 6px 13px;
    border: 1px solid white;
  }

  p {
    line-height: 1.5;
  }
}

.markdown {
  width: 100%;
  max-width: 100%;
}

.markdown > * {
  max-width: 100%;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}

.markdown pre {
  max-width: 100%;
  white-space: pre-wrap;
}

.markdown code {
  max-width: 100%;
  white-space: pre-wrap;
}

.markdown table {
  display: block;
  width: 100%;
  overflow-x: auto;
}

/* Mantine Polling Slider Bar */
.polling-slider-bar {
  .mantine-Slider-trackContainer {
    /* red through to blue, then green from left to right */
    background: linear-gradient(
      to right,
      #ff0000 0%,
      #ff0000 16.666%,
      #ff8000 16.666%,
      #ff8000 33.333%,
      #ffff00 33.333%,
      #ffff00 50%,
      #80ff00 50%,
      #80ff00 66.666%,
      #00ff00 66.666%,
      #00ff00 83.333%,
      #00ffff 83.333%,
      #00ffff 100%
    );
  }
  .mantine-slider-bar {
    background-color: transparent;
  }
}